/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cor de fundo e fonte padrão */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-size: 3em;
}

/* Menu de navegação */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    margin-top: 20px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

/* Seções */
section {
    padding: 40px 20px;
    text-align: center;
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Botões */
.btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

/* Lista de campeonatos */
ul {
    list-style: none;
    margin-top: 20px;
}

ul li {
    margin: 20px 0;
}

.news-item {
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}